<div id="login" class="row">
	<div class="span6 offset3">
		<form class="form-horizontal" id="form-login" ng-submit="login()">
			<h4>Please login:</h4>
			<div class="control-group">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
				  <input type="text" id="username" placeholder="Username" ng-model="credentials.username" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				  <input type="password" id="password" placeholder="Password" ng-model="credentials.password" required>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button>
				</div>
			</div>
		</form>
	</div>
</div>